body {
    font-family: Arial, sans-serif;
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmV2YmJvMTd6d2xmYWhveHlxN3kwNG5wYm16eHl2aWlhdnlyNjJoZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/BHNfhgU63qrks/giphy.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.container {
    position: relative;
    padding-top: 60px;
    background-color: #10002b;
    border: 1px solid #ccc;
    padding-bottom: 22px;
    padding-left: 20px; 
    padding-right: 14px;    
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}



img {
  
    width: 30%; /* Ajusta el tamaño de la imagen */
    height: 30%; /* Mantén la proporción */
    border-radius: 50%; /* Hace la imagen circular */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Asegura que la imagen sea un bloque */
    margin-top: -150px; /* Ajusta la posición vertical para que quede en la línea superior */
    padding: 20px; /* Espacio alrededor de la imagen */
}


.input-group {
    width: 21rem;
    margin-left: 1rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 8px;
    background-color: #f9f9f9;
}

.input-group i {
    margin-right: 10px;
    color: #10002b;
    font-size: 18px;
}

.input-group input {
    flex: 1;
    
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
}




.boton {
    position: absolute;
    bottom: -20px; /* Hace que el botón sobresalga hacia abajo */
    left: 50%;
    transform: translateX(-50%);
}

.boton button {
    width: 15rem;
    border: 1px solid #ccc;
    background-color: #10002b;
    padding: 10px 20px;
    color: rgb(254, 254, 254);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    font-weight: bold;
}




button:hover {
    background-color: #ffffff;
    color: #10002b;
}
button:focus {
    background-color: #10002b;
    color: white;
}

p {
    margin-top: 15px;
    color: #f9f9f9;
}

p a {
    color: #8150ae;
    text-decoration: none;
    font-weight: 600;
}

p a:hover {
    text-decoration: underline;
}

